<div ng-app="library" ng-controller="bookController">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><button class="btn-link" ng-click="ordena('Title')">Título</button></th>
                <th scope="col"><button class="btn-link" ng-click="ordena('Description')">Descrição</button></th>
                <th scope="col"><button class="btn-link" ng-click="ordena('Launch')">Ano de Lançamento</button></th>
                <th scope="col"><button class="btn-link" ng-click="ordena('Author')">Autor</button></th>
                <th scope="col"><button class="btn-link" ng-click="ordena('Language')">Linguagem</button></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td class="breakLine">{{book.Title}}</td>
                <td class="breakLine">{{book.Description}}</td>
                <td class="breakLine">{{book.Launch | date: 'dd/MM/yyyy'}}</td>
                <td class="breakLine">{{book.Author}}</td>
                <td class="breakLine">{{book.Language}}</td>
                <td class="breakLine"><a ng-click="edit(book.Id)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="breakLine"><a confirmed-click="delete(book.Id)" ng-confirm-click="Deseja realmente apagar o item?"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </tbody>
    </table>
    <div class="loader" ng-show="loading"></div>
    <label ng-show="noData" class="nodata">Nenhum livro cadastrado.</label>
</div>