<div class="jumbotron">
    <h1>Library Book</h1>
    <p class="lead">O sistema mostrará todos os livros cadastrados, conforme a necessidade de ordenadoção, e também permitirá criar, editar e excluir um livro.</p>
    <p><a href="~/Book/Newbook" class="btn btn-primary btn-lg">Começar &raquo;</a></p>
</div>
